* {
    padding: 0;
    margin: 0;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body {
      background-color: white;
      /* white */
    }
  }
  .fondo {
    width: 100%;
    height: 100%;
  }
  
  .contacto {
    width: 100%;
    height: 100%;
    display: grid;
    background-size: cover;
  }
  
  .img-fluid {
    width: 100%;
    height: auto;
  }
  
  .logo {
    width: 120px;
    height: 120px;
  }
  
  .pie {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
  }
  
  .foo {
    color: white;
  }
  
  .pief {
    background-color: midnightblue;
    width: 100%;
    height: 100%;
    color: blueviolet;
  }
  
  .navbar {
    background-color: white;
  }
  
  .tar {
    width: 350px;
    height: 200px;
    display: flow-root;
  }
  
  .contactar {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
  }
    
  
  body {
    background-color: #e1e3e4;
  }
  
  .columnas {
    width: 50%;
    height: 50%;
    text-align: center;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr ;
    width: 100%;
    height: 100%;
  
  
  }
  
  .servicioss {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .por {
    font-size: 18px;
    color: #762ae8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
  }
  .qu{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
    font-size: 15px;

  }
  .paq{
    width: 100%;
    height: 100%;
  }
  .acor{
    text-align: center;
    color: #762ae8;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   
  }
  .nuevo{
    color: #762ae8;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .huma{
    width: 350px;
    height: 280px;
  }
  .tit{
    font-size: 20px;
    .sig{
      color: #762ae8;
    }
  }
  .sig{
    color: #762ae8;
    text-align: center;
  }
 .dropdown{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#762ae8 ;
    text-align: center;
  }
  .lab{
    font-size: 21px;
   text-align: center;
    color:#762ae8 ;
  }
  
    
